body{
    font-size: 3vh;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    padding-top: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-bottom: 0;
    background-color: rgb(95, 95, 95);
    color: rgb(209, 208, 208)
}

.container{
    border: 1px solid;
    background-color: rgb(236, 230, 230)
}

#name-container, #email-container, #message-container{
    padding: 5px 10px;
}

#email-container{
    padding-left: 11px
}

input{
    padding: 5px;
    width: 46em;
    font-size: 18px;
    font-family: sans-serif;
}

textarea{
    padding: 10px;
    width: 49.1em;
    font-size: 18px;
    font-family: "Arial", sans-serif;
}

button{
    width: 10em;
    height: 2.5em;
    position: relative;
    bottom: 10px;
    color: white;
    background-color: rgb(95, 95, 95);
}

@media screen and (max-width: 738px){
    button{
        width: 10em;
        height: 2.5em;
        position: relative;
        bottom: 10px;
        top: 2px;
        margin-bottom: 3px
    }
}

@media screen and (max-width: 1440px){
    input{
        width: 45.4em
    }
    textarea{
        width: 50em
    }
}

@media screen and (max-width: 1358px){
    input{
        width: 45.4em
    }
    textarea{
        width: 47.6em
    }
}

@media screen and (max-width: 1356px){
    textarea{
        width: 47.4em
    }
}

@media screen and (max-width: 914px){
    textarea{
        width: 45em
    }
}

@media screen and (max-width: 874px){
    input{
        width: 24.8em
    }
    textarea{
        width: 30em
    }
}

@media screen and (max-width: 800px){
    input{
        width: 24.3em
    }
    textarea{
        width:23.9em
    }
}

@media screen and (max-width: 390px){
    input{
        width: 18.5em
    }
    textarea{
        width: 18.1em
    }
}