body{
    margin:0;
}

#main-header{
    background-color: darkslategrey;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0
}

.navigation-bar{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    background-color: rgb(148, 170, 170)
}

.navigation-bar-elements{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

#exercises, #about, #contact-us{
    padding-right: 30px;
    cursor: pointer;
    margin-top: 150px;
    text-decoration: underline;
}

#exercises:hover, #about:hover, #contact-us:hover{
    color: lightblue;
}

.container{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
    background:url('/Maths_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0
}

.tests{
    color: black;
    text-decoration: none;
    cursor: pointer
}

#footer{
    background-color: darkslategrey;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30vh;
    margin-top: 0;
}

#developer{
    color: white;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: lighter;
}