<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>
<body style="margin:0">
    <header>
        <h1 id="main-header">Addition</h1>
    </header>
    <main>
        <section class="exercises" id="addition-exercise">
            <label id="label-for-question-3">3. What's 34.32 + 4 + 2.5?</label>
            <input id="input-for-question-3" name="question-3" required><br>
            <a href="/adtn_2" style="text-decoration: none;">
                <button id="previous-button">Previous</button>
            </a>
            <button id="submit-button">Check answer</button>
            <a href="/adtn_4">
                <button id="next-button">Next</button>
            </a>
        </section>
        <section id="home-button">
            <a href="/">
                <img id="icon" src="{{url_for('images', filename='home.png')}}">
            </a>
        </section>
    </main>

    <footer>
        <div id="footer_"></div>
    </footer>

    <hr>

    <script src="{{url_for('scripts', filename='adtn-3.js')}}"></script>

</body>
</html>