<!DOCTYPE html>
<html lang="en">
<head><!--Completed-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>
<body>
    <header>
        <h1 id="main-header">Addition</h1>
    </header>
    <main>
        <section class="exercises" id="addition-exercise">
            <label id="label-for-question-1">1. What's 5 + 9?</label>
            <input id="input-for-question-1" name="question-1" required><br>
            <button id="submit-button">Check answer</button>
        <a href="/adtn_2">
            <button id="next-button">Next</button>
        </a>
        </section>
        <section id="home-button">
            <a href="/">
                <img id="icon" src="{{url_for('images', filename='home.png')}}">
            </a>
        </section>
    </main>

    <footer>
        <div id="footer_"></div>
    </footer>

    <script src="{{url_for('scripts', filename='adtn-1.js')}}"></script>

</body>
</html>