<!DOCTYPE html>
<html lang="en">

<head><!--Completed-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
</head>


<body><!--Completed-->
    
    <header>
        <h1 id="main-header">Welcome to math experts!</h1>
    </header>
    
    
    <main>
        <section class="navigation-bar">
            <a class="navigation-bar-elements" id="exercises">Exercises</a>
            <a class="navigation-bar-elements" id="about">About</a>
            <a class="navigation-bar-elements" id="contact-us">Contact Us</a>
        </section>
    
            <section class="container">
                <div class="menu">
                    <div>
                        <a class="tests" href="/adtn_1">
                            <h2 class="tests">Addition</h2>
                        </a>
                    </div>
                        <div id="subtraction">
                            <a class="tests" href="/sub_1">
                                <h2>Subtraction</h2>
                            </a>
                        </div>
                            <div>
                                <a class="tests" href="/multi_1">
                                    <h2 class="tests">Multiplication</h2>
                                </a>
                            </div>
                    <div>
                        <a class="tests" href="/div_1">
                            <h2>Division</h2>
                        </a>
                    </div>
                </div>
            </section>
    </main>


    <footer>
        <div id="footer">
            <h3 id="developer">Developed by AJ Meyer © 2024</h3>
        </div>
    </footer>

</body>
</html>