<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtraction</title>
    <link rel="stylesheet" href="{{url_for('static', filename='subtraction.css')}}">

</head>
<body style="margin:0">
    <header>
        <h1 id="main-header">Subtraction</h1>
    </header>
    <main>
        <section class="exercises" id="addition-exercise">
            <label id="label-for-question-5">5. What's 20.53 - 5.5 - 0.53 - 1?</label>
            <input id="input-for-question-5" name="question-3" required><br>
            <a href="/sub_4" style="text-decoration: none;">
                <button id="previous-button">Previous</button>
            </a>
            <button id="submit-button">Check answer</button>
            <button id="next-button">Done</button>
        </section>
        <section id="home-button">
            <a href="/">
                <img id="icon" src="{{url_for('images', filename='home.png')}}">
            </a>
        </section>
    </main>

    <footer>
        <div id="footer_"></div>
    </footer>

    <script src="{{url_for('scripts', filename='sub-5.js')}}"></script>

</body>
</html>